!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    #top
    %header.navigation.navbar-static-top
      .logo
        =link_to image_tag('logo-header.svg'), '#top', class: 'scroll-on-page-link'
      %nav
        %ul
          %li=link_to 'Debates', '#main-sessions', class: 'scroll-on-page-link'
          %li=link_to 'Impact', '#impact', class: 'scroll-on-page-link'
          %li=link_to 'Regionals', '#regions', class: 'scroll-on-page-link'
          %li=link_to 'Action', '#tracks', class: 'scroll-on-page-link'
          %li=link_to 'Community', '#community', class: 'scroll-on-page-link'

    = yield
    %footer
      .container
        .logos
          =image_tag 'logo-idrc.png'
          =image_tag 'logo-od.png'
          =image_tag 'logo-civica.png'
          =image_tag 'the-world-bank.png'
          =image_tag 'dfid-logo.png'
          =image_tag 'canada.png'
          =image_tag 'espania.png'

        %nav
          =link_to 'Conference Report', 'https://drive.google.com/drive/folders/0B9TvqAthISVSWFlaTnBVUy1XLUE'
          =link_to 'Contact', '#'
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"
    //= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.0/lity.css"
    //= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.0/lity.js"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.css"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/js/standalone/selectize.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css"
