!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    #top
    %header.navigation.navbar-static-top
      .logo
        =link_to image_tag('iodc_logo.png'), '#top', class: 'scroll-on-page-link'
      %nav
        %ul
          %li=link_to 'Main Sessions', '#main-sessions', class: 'scroll-on-page-link'
          %li=link_to 'Tracks', '#tracks', class: 'scroll-on-page-link'
          %li=link_to 'Regions', '#regions', class: 'scroll-on-page-link'
          %li=link_to 'Community', '#community', class: 'scroll-on-page-link'

    = yield
    %footer
      .container
        .logos
          =image_tag 'logo-idrc.png'
          =image_tag 'logo-od.png'
          =image_tag 'logo-civica.png'

        %nav
          =link_to 'Contact', '#'
          =link_to 'Faq + info', '#'
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"
    = javascript_include_tag "application"
