---
title: IODC Report
---

%section.top-slider
	.container
		%hgroup
			%h1 Interational Open Data Roadmap 2016
			%p A network that brings together the ideas of the global community, helping each other to understand better the challenges and guide our work on Open Data around our World. This Roadmap is based on what happens during the International Open Data Conference.
		.slider
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
		.cols
			.half-col
				%h3 Takeaways
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.half-col
				%h3 The Road Ahead
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

%section.sessions#main-sessions
	.container
		%h2.border Main Sessions
		.sessions-content
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.


%section.impact#impact
	.container
		%h2.border Impact
		%h4 Pick a Track:
		.tabd-container
			%ul.tabs
				%li.tab
					=link_to 'Education', '#', class: 'tab-link'
					.tab-content
						.cols
							.half-col
								%h3 Talks
								%ul.accordion
									%li
										%h4.js-accordion-trigger Create open data repositories
										.content
											%p Create open data repositories for at least 10% of the Universities of the World.
									%li
										%h4.js-accordion-trigger Create open data repositories
										.content
											%p Create open data repositories for at least 10% of the Universities of the World.
								%h3.m-t Actions
								%ul.accordion
									%li
										%h4.js-accordion-trigger Create open data repositories
										.content
											%p Create open data repositories for at least 10% of the Universities of the World.
									%li
										%h4.js-accordion-trigger Create open data repositories
										.content
											%p Create open data repositories for at least 10% of the Universities of the World.
							.half-col
								=image_tag 'photos/tabs-placeholder.png'
				%li.tab
					=link_to 'Agriculture', '#', class: 'tab-link'
					.tab-content
						Agriculture
				%li.tab
					=link_to 'Geoespacial', '#', class: 'tab-link'
					.tab-content
						Geoespacial
				%li.tab
					=link_to 'Utilities', '#', class: 'tab-link'
					.tab-content
						Utilities
				%li.tab
					=link_to 'Culture', '#', class: 'tab-link'
					.tab-content
						Culture
				%li.tab
					=link_to 'Transport', '#', class: 'tab-link'
					.tab-content
						Transport
%section.tracks#tracks
	.container
		%h2.border Tracks
		%h4 Pick a Track:
		.tags
			.tag.active Education
			.tag Agriculture
			.tag Geoespacial
			.tag Utilities
			.tag Culture
			.tag Transport
		.cols
			.half-col
				%h2 2015
				%h3 Last year summary
				%p Open data can improve access to education, hold education providers accountable, and drive management improvements. In each case, data was an enabler; but it was only with active intermediaries—whether public, private, or non-profit—that the impacts of open data could be realized.
				%h5 Projects shared
				%p
				= link_to "Open Schools Kenya", "linktoanywhere.org"
				Brought together government data on schools with citizen-sourced data from the Map Kibera team.
				%p
				= link_to "Analítica Académica", "linktoanywhere.org"
				Worked with data from universities to provide the higher education sector with information needed to improve management and the overall education system.
				%p
				= link_to "Open Development Initiative", "linktoanywhere.org"
				Open research dataset by scraping thousands of university syllabi, offering a whole new way to look at the development of curriculum.
				%p
				%h5 Research discussed
				%p
				= link_to "Open Syllabus", "linktoanywhere.org"
				University of Alicante Open Data ecosystem for Universities
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Create open data repositories
						.content
							%p Create open data repositories for at least 10% of the Universities of the World.
			.half-col
				%h2 2016
				%h3 Talks
				%ul.accordion
					%li
						%h4.js-accordion-trigger Data + Edu
						.content
							%p
								%strong
									=link_to "Christian Anker", "twitter.com"
									,
									=link_to "Miguel Ángel Acero", "twitter.com"
									,
									=link_to "José Norberto Mazón", "twitter.com"
									,
									=link_to "Marija Kujacic", "twitter.com"
							%p Open Data can be a catalyst to improve study programmes and push foward education. Transparency and Open Data are topics that should accompany robotics and programming in the teaching of technology, specially to kids.
							%h5 Projects shared
							%p
								= link_to "Smart Kids", "linktoanywhere.org"
								Launches interactive educational methods to bring to the students aspects such as open data, programming, robotics and others technologies
							%p
								= link_to "Educatransparencia", "linktoanywhere.org"
								Website with educational resources to certify knowledge in the knowledge of transparency and information access"
							%h5 Research discussed
							%p
								= link_to "OpenData4U", "linktoanywhere.org"
								University of Alicante Open Data ecosystem for Universities
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Web Foundation Education Standard
						.content
							%p Description: This is the description of a commitment so good that cannot be described
							%p Indicator to follow: Number of countries that have adopted
							%p Timeframe: One year
							%p Actor Responsible: Web Foundation
%section.regions#regions
	.container
		%h2.border Regions
		%h4 Pick a Region:
		.tags
			.tag.active Latin America
			.tag Asia
			.tag Africa
		.cols
			.half-col
				%h2 2015
				%h3 Last year summary
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
			.half-col
				%h2 2016
				%h3 Talks
				%ul.accordion
					%li
						%h4.js-accordion-trigger Main Session 1
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 2
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 3
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 4
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
%section.community#community
	.container
		%h2.border Community
		.gallery
			.h2-w1.bg
				=image_tag 'photos/photo1.png'
				%blockquote
					“Lorem quote ipsum”
					%span - Paulina

			.h1-w1
				=image_tag 'photos/photo2.png'
			.h1-w1
				=image_tag 'photos/photo3.png'
			.h1-w2
				=image_tag 'photos/photo4.png'

		%ul.wide-accordion
			%li
				%h4.js-accordion-trigger The buzz
				.content
					%ul.buzz
						%li
							%p
								%i.fa.fa-twitter
								%strong #IODC16
								Agenda is finally live!! Start scheduling your sessions
								=link_to 'http://opendatacon.org/agenda/', '#'
								'#opendata'
							.date 1 hour ago
						%li
							%p
								%i.fa.fa-rss
								%strong Blogpost
								Open contracting: an innovative approach to better public procurement picks up steam.
							.date 2 hours ago
						%li
							%p
								%i.fa.fa-twitter
								%strong #IODC16
								Agenda is finally live!! Start scheduling your sessions
								=link_to 'http://opendatacon.org/agenda/', '#'
								'#opendata'
							.date 1 hour ago
						%li
							%p
								%i.fa.fa-twitter
								%strong #IODC16
								Agenda is finally live!! Start scheduling your sessions
								=link_to 'http://opendatacon.org/agenda/', '#'
								'#opendata'
							.date 1 hour ago
			%li
				%h4.js-accordion-trigger Discussion
				.content Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
			%li
				%h4.js-accordion-trigger Commitments
				.content Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
